In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('auto.csv', index_col='ID')

In [3]:
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

In [4]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

In [5]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)

In [6]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

In [7]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [8]:
df.dropna(axis=1, thresh=500, inplace=True)

In [9]:
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [10]:
df.Refund.fillna(method='ffill', inplace=True)

In [11]:
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [17]:
fines_without_na = df.Fines.dropna()

In [19]:
fines_mean = fines_without_na.mean()

In [21]:
fines_mean

8594.586466165414

In [23]:
df.Fines.fillna(fines_mean, inplace=True)

In [25]:
df.Fines.isna().sum()

0